 <!DOCTYPE html>
<html>
<head>
    <title>Jaanevis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.8.2/vue-cookies.js"></script>

    <link rel="stylesheet" href="main.css"/>

</head>
<body>

    <div id="app">
        <div id="main">
            <div id="map"></div>
            <div id="panel">
                <div class="note-form" v-if="panelView == 'create'" id="create-note">
                    <p>Create new note</p>
                    <label for="url">Url:</label>
                    <input type="text" id="url" name="url" v-model="note.url">
                    <label for="lat">Latitude:</label>
                    <input type="number" step="any" id="lat" name="lat" v-model="note.lat">
                    <label for="long">Longitude:</label>
                    <input type="number" step="any" id="long" name="long" v-model="note.long">
                    <button @click="createNewNote">Create</button>
                </div>
                <div class="note-form" v-if="panelView == 'details'" id="note-detail">
                    <p>Code: {{ note.code }}</p>
                    <p>Creator: {{ note.creator }}</p>
                    <label for="url">Url:</label>
                    <input type="text" id="url" name="url" v-model="note.url">
                    <label for="lat">Latitude:</label>
                    <input type="number" step="any" id="lat" name="lat" v-model="note.lat">
                    <label for="long">Longitude:</label>
                    <input type="number" step="any" id="long" name="long" v-model="note.long">
                    <button @click="updateNote">Update</button>
                    <button @click="deleteNote">Delete</button>
                </div>
                <div id="auth" v-if="panelView == 'auth'" >
                    <div id="profile" v-if="authenticated == true">
                        <p>Username: {{ this.authUser.username }}</p>
                    </div>
                    <div class="note-form" v-if="authenticated == false " id="login">
                        <p>Login</p>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" v-model="username">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" v-model="password">
                        <button @click="login">Login</button>
                    </div>
                </div>
                <div>
                  <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                  </p>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js" type="module"></script>

</body>
</html>
