body {
  font-size: medium;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: 300px;
  flex: 70%;
}

#panel {
  flex: 30%;
}

.note-form {
  margin: 0 10px 0 10px;
}

.note-form input {
  width: 100%;
  padding: 12px 20px;
  box-sizing:border-box
}

.btn-group {
  display: flex;
}

.note-form button {
  width: 100%;
  padding: 12px 20px;
}

@media (max-width: 800px) {
  #map, #panel {
    flex: 100%;
  }
}
