 <!DOCTYPE html>
<html>
<head>
    <title>Jaanevis</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="main.css"/>

</head>
<body>

    <div id="app">
        <h1>{{ title }} v{{ version }}<h1>
        <div id="map"></div>
        <div id="panel">
            <div id="create-note">
                <h3>Create new note</h3>
                <label for="url">Url:</label>
                <input type="text" id="url" name="url" v-model="url">
                <label for="lat">Lat:</label>
                <input type="text" id="lat" name="lat" v-model="lat">
                <label for="long">Long:</label>
                <input type="text" id="long" name="long" v-model="long">
                <button @click="createNewNote">Create</button>
            </div>
        </div>
    </div>

    <script src="app.js" type="module"></script>

</body>
</html>
