 <!DOCTYPE html>
<html>
<head>
    <title>Jaanevis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.8.2/vue-cookies.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
</head>
<body>

    <div id="app">
        <div id="main">
            <div id="map"></div>
            <div id="panel">
                <router-view></router-view>
                <div>
                    <p>Filters:</p>
                    <div v-for="(value, filter) in filters">
                        <span>{{ filter }}[{{ value }}]</span>
                        <button class="destroy" @click="removeFilter(filter)">X</button>
                    </div>
                </div>
                <div class="note-form" v-if="panelView == 'create'" id="create-note">
                    <p>Create new note</p>
                    <label for="url">Url:</label>
                    <input type="text" id="url" name="url" v-model="note.url">
                    <label for="text">Text:</label>
                    <input type="text" id="text" name="text" v-model="note.text">
                    <label for="lat">Latitude:</label>
                    <input type="number" step="any" id="lat" name="lat" v-model="note.lat">
                    <label for="long">Longitude:</label>
                    <input type="number" step="any" id="long" name="long" v-model="note.long">
                    <button @click="createNewNote" v-if="authenticated">Create</button>
                </div>
                <div class="note-form" v-if="panelView == 'details'" id="note-detail">
                    <p>Code: {{ note.code }}</p>
                    <p>Creator: <a :href="`#/notes?creator=${note.creator}`">{{ note.creator }}</a></p>
                    <p>Country: <a :href="`#/notes?country=${note.country}`">{{ note.country }}</a></p>
                    <div v-if="authUser.username == note.creator && editing">
                        <label for="url">Url:</label>
                        <input type="text" id="url" name="url" v-model="note.url">
                        <label for="text">Text:</label>
                        <input type="text" id="text" name="text" v-model="note.text">
                        <label for="lat">Latitude:</label>
                        <input type="number" step="any" id="lat" name="lat" v-model="note.lat">
                        <label for="long">Longitude:</label>
                        <input type="number" step="any" id="long" name="long" v-model="note.long">
                        <div class="btn-group">
                            <button @click="updateNote">Update</button><button @click="deleteNote">Delete</button>
                            <button @click="editing = !editing">Cancel Edit</button>
                        </div>
                    </div>
                    <div v-else>
                        <p>Url: <a target="_blank" :href="note.url">{{ note.url }}</a></p>
                        <p v-html="hashtagText(note.text)"></p>
                        <p>Latitude: {{ note.lat }}</p>
                        <p>Longitude: {{ note.long }}</p>
                        <button v-if="authUser.username == note.creator"
                            @click="editing = !editing">Edit</button>
                    </div>
                </div>
                <div id="auth" v-if="panelView == 'auth'" >
                    <div id="profile" v-if="authenticated == true">
                        <p>Username: {{ this.authUser.username }}</p>
                    </div>
                    <div class="note-form" v-else id="login">
                        <p>Login</p>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" v-model="username">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" v-model="password">
                        <button @click="login">Login</button>
                        <p>or <a @click="showRegister" href="#">Register</a></p>
                    </div>
                </div>
                <div id="register" v-if="panelView == 'register'" >
                    <div class="note-form" id="register">
                        <p>Register</p>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" v-model="username">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" v-model="password">
                        <button @click="register">Register</button>
                    </div>
                </div>
                <br>
                <a @click="showLogin" href="#"
                    v-if="!authenticated && !(panelView.match('auth|register'))">Login to create/modify notes</a>
                <button @click="logout" v-else-if="authenticated">Logout</button>
                <p v-if="errors.length">
                    <ul>
                    <li v-for="error in errors" style="color: red">{{ error }}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <script src="main.js" type="module"></script>

</body>
</html>
