body {
  font-size: medium;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: 300px;
  flex: 70%;
}

#panel {
  flex: 30%;
}

.note-form {
  margin: 0 10px 0 10px;
}

.note-form input, textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing:border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.btn-group {
  display: flex;
}

.note-form button {
  width: 100%;
  padding: 12px 20px;
  background-color: #04AA6D;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@media (max-width: 800px) {
  #map, #panel {
    flex: 100%;
  }
}
